*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size:1.2vw;
    line-height: 1.2;
}

body{
    height:230vh;
    width:100vw;
    font-size:1.2vw;
}
.main{
    margin-left:auto;
    margin-right:auto;
    width:90%;
    height:100%;
    border:1px solid black;
}

.main_wrapper{
    width:85%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
}

.left{
    width:35%;
    height:100%;
    background-color:rgb(68,84,106);
    float:left;
}

.left .image{

    width:22vw;
    height:20vw;
    margin-left: auto;
    margin-right:auto;
    /*border-bottom:1px solid black;*/
}

.left .image .photo{
    display: block;
    width:85%;
    height:92%;
    border-radius:100%;
    margin:10px auto 0 auto;
}

.left .info{
 height:18%;
 width:95%;
 /*border-bottom:1px solid black;*/

}

.info .info_list_item{
    width:100%;
    height:10%;
    color:white;
    margin-bottom: 4%;
}

#name{
    width:100%;
}
.list_image{
    float:left;
    width:10%;
    height:100%;}

.info .info_list_item .list_image img{

    width:100%;
    height:1.5rem;
    
}

.list_value{
    font-size: 100%;
    float:left;
    width:90%;
    height:100%;
    padding-left:6px;
    position:relative;
}

.val_wrap{
    position:absolute;
    top:60%;
    left:5%;
    transform:translate(0,-50%);

}

.left .comp{
    height:28%;
    width:100%;
    

}

.left .comp .heading{
    height:10%;
    width:100%;
    font-weight:bold;
    text-align:left;
}

.left .comp .heading .text{ 
    position:relative;
    width:42%;
    height:100%;
    float:left;
    font-size:118%;
    color:white;


}

.left .comp .heading .line{

    width:58%;
    height:100%;
    position: relative;
    float:left;
}

.left .comp .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:2px solid #fff;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}

.left .comp .comp_list{
    height: 90%;
    width:90%;
    margin:0 auto 0 auto;
    font-size:100%;
}

.main_list{
    
    color:white;
    list-style-type: square; 
    width:95%;
    padding:0;
    /* text-indent:2px; */
    
}


.sub_list{
    margin:10px;
    color:white;
    list-style-type:none;  
    list-style-position: inside;
    
}

.left .comp_inf{
    height:5%;
    width:100%;
    margin-bottom: 4%;
    /*border-bottom:1px solid black;*/

}

.left .comp_inf .heading{
    height:35%;
    width:100%;
    font-weight:bold;
}

.left .comp_inf .heading .text{ 
    position:relative;
    width:75%;
    height:100%;
    float:left;
    font-size:118%;
    color:white;

}

.left .comp_inf .heading .line{

    width:25%;
    height:100%;
    position: relative;
    float:left;
}

.left .comp_inf .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:2px solid #fff;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}

.left .comp_inf .comp_inf_list{
    width:90%;
    height:50%;
    color:white;
    font-size:100%;
    margin:0 auto 0 auto;
}

.left .comp_inf .comp_inf_list ul{
    list-style-type: square;
    width:95%;
    list-style-position: inside;
}

.left .qualités{
    height:9%;
    width:100%;
    /*border-bottom:1px solid black;*/
    padding-top:10px;


}

.left .qualités .heading{
    height:20%;
    width:100%;
    font-weight:bold;
    margin-bottom:5px;
}

.left .qualités .heading .text{ 
    position:relative;
    width:60%;
    height:100%;
    float:left;
    font-size:118%;
    color:white;

}

.left .qualités .heading .line{

    width:40%;
    height:100%;
    position: relative;
    float:left;
}

.left .qualités .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:2px solid #fff;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}

.left .qualités .qualités_list{
    width:80%;
    height:50%;
    color:white;
    font-size:100%;
    margin:0 auto 0 auto;
}

.left .qualités .qualités_list ul{
    list-style-type: square;
    width:95%;
    /* list-style-position: inside; */
}

.left .langues{

    height:10%;
    width:100%;
    /*border-bottom:1px solid black;*/
    color:white;
    margin-bottom: 10%;

}

.left .langues .heading{
    height:20%;
    width:100%;
    font-weight:bold;
}

.left .langues .heading .text{ 
    position:relative;
    width:30%;
    height:100%;
    float:left;
    font-size:118%;
    color:white;

}

.left .langues .heading .line{

    width:70%;
    height:100%;
    position: relative;
    float:left;
}

.left .langues .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:2px solid #fff;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}

.left .langues .lang_body{
    width:100%;
    height:80%;
    font-size:100%;
}

.left .langues .lang_body .une_langue{
    width:100%;
    height:33.33%;
}

.left .langues .lang_body .une_langue .nom{
    height:100%;
    width:50%;
    float:left;
    position:relative;
}

.left .langues .lang_body .une_langue .nom .nom_wrapper{
    position:absolute;
    left:5%;
    top:50%;
    transform:translate(0,-50%);

}

.left .langues .lang_body .une_langue .niveau{
    height:100%;
    width:50%;
    float:left;
    position:relative;
}

.left .langues .lang_body .une_langue .niveau .niveau_wrapper{
    position:absolute;
    left:1%;
    top:50%;
    transform:translate(0,-50%);
    width:90%;
}

.left .langues .lang_body .une_langue .niveau .niveau_wrapper span{
    display: block;
    float:left;
    width:11%;
    height:1.7vh;
    border-radius:100%;
    margin:0 2px 0 2px;
    background-color: #fff;
}


.left .interet{

    height:8.5%;
    width:100%;
    /*border-bottom:1px solid black;*/

}

.left .interet .heading{
    height:20%;
    width:100%;
    font-weight:bold;
    margin-bottom:5px;
}

.left .interet .heading .text{ 
    position:relative;
    width:45%;
    height:100%;
    float:left;
    font-size:118%;
    color:white;

}

.left .interet .heading .line{

    width:55%;
    height:100%;
    position: relative;
    float:left;
}

.left .interet .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:2px solid #fff;
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
}

.left .interet .interet_list{
    width:90%;
    height:50%;
    color:white;
    font-size:100%;
    margin:0 auto 0 auto;
}

.left .interet .interet_list ul{
    list-style-type: square;
    width:95%;
    list-style-position: inside;
}

.text_wrap{
    position:absolute;
    top:20%;
    left:0%;
    transform:translate(0,-50%);
}

.right_wrapper{
    font-size:130%;
    width:95%;
    margin:0 auto 0 auto;
    height:98%;
    margin-top:2%;
}

.headings{
    /* overflow: hidden; */
}

.right{
    float:right;
    width:65%;
    height:100%;
    
}

.right .part_1{
    width:100%;
    height:16%;
    /*border-bottom:1px solid black;*/
}


.right_wrapper .part_1 .heading{
    height:20%;
    width:100%;
    font-weight:bold;
    margin-bottom:1%;
}

.right_wrapper .part_1 .heading .text{ 
    position:relative;
    width:10%;
    height:100%;
    float:left;
    font-size:120%;
    color:#000;
    position:relative;

}
.right_wrapper .part_1 .heading .text .text_wrapper{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.right_wrapper .part_1 .heading .line{

    width:90%;
    height:100%;
    position: relative;
    float:left;
}

.right_wrapper .part_1 .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:1px solid gray;
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.right_wrapper .part_1 .content{
    width:100%;
    height:80%;
    
}

.right_wrapper .part_1 .content .content_wrapper{
    width:97%;
    height:100%;
    
}

.right .part_1_5 {
    width:100%;
    height:18%;
    /*border-bottom:1px solid black;*/
}


.right_wrapper .part_1_5 .heading{
    height:20%;
    width:100%;
    font-weight:bold;
    margin-bottom:1%;
}

.right_wrapper .part_1_5 .heading .text{

    width:20%;
    height:100%;
    float:left;
    font-size:120%;
    color:#000;
    position:relative;

}
.right_wrapper .part_1_5 .heading .text .text_wrapper{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.right_wrapper .part_1_5 .heading .line{

    width:80%;
    height:100%;
    position: relative;
    float:left;
}

.right_wrapper .part_1_5 .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:1px solid gray;
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.right_wrapper .part_1_5 .content{
    width:100%;
    height:90%;
    
}

.right_wrapper .part_1_5 .content .content_wrapper{
    width:99%;
    height:100%;
    
}

.right_wrapper .part_1_5 .content .content_wrapper .block{
    width:100%;
    /* height:50%; */
    position:relative;
}

.b1{
height:60%;
}

.b2{
    height:40%;
}



.right .part_2{
    width:100%;
    height:20%;
    /*border-bottom:1px solid black;*/
}

.right_wrapper .part_2 .heading{
    height:20%;
    width:100%;
    font-weight:bold;
    margin-bottom:1.7%;
}

.right_wrapper .part_2 .heading .text{ 

    width:45%;
    height:100%;
    float:left;
    font-size:120%;
    color:#000;
    position:relative;

}
.right_wrapper .part_2 .heading .text .text_wrapper{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.right_wrapper .part_2 .heading .line{

    width:55%;
    height:100%;
    position: relative;
    float:left;
}

.right_wrapper .part_2 .heading .line span{
    display: block;
    width:90%;
    height:1px;
    border-bottom:1px solid gray;
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0,-50%);
}

.right_wrapper .part_2 .content{
    width:100%;
    height:80%;
    
}

.cont_left{
    height:100%;
    width:30%;
    /* border-right:1px solid black; */
    float:left;
}
.cont_right{
    height:100%;
    width:70%;
    float:left;

}

.right_wrapper .part_2 .content .content_wrapper{
    width:99%;
    height:90%;
    
}

.right .part_3{
    width:100%;
    height:18%;
    /*border-bottom:1px solid black;*/
}

.right_wrapper .part_3 .content{
    width:100%;
    height:100%;
    
}

.right_wrapper .part_3 .content .content_wrapper{
    padding-top:3%;
    width:99%;
    height:90%;
    
}

.right .part_4{
    width:100%;
    height:18%;
    /*border-bottom:1px solid black;*/
}

.right_wrapper .part_4 .content{
    width:100%;
    height:100%;
   
}

.right_wrapper .part_4 .content .content_wrapper{
    width:99%;
    height:90%;
    
}

.right .part_5{
    width:95%;
    height:10%;
    margin-top:5%;
    /*border-bottom:1px solid black;*/
    
}



@media (max-width:1085px){
    html{
        font-size: 1.5vw;
    }
    body{
        font-size: 1.4vw;
        width:98vw;
    }
}

@media (max-width:1024px){
    html{
        font-size: 1.7vw;
    }
    body{
        font-size: 1.6vw;
        height:120vh;
        width:100vw;
    }

    .main{
        width: 100%;
    }

    .cont_left{
        width:40%;
    }
    .cont_right{
        width:60%;
    
    }

    .right_wrapper .part_1 .heading .text{ 
        width:20%;
    }

    .right_wrapper .part_1 .heading .line{ 
        width:80%;
    }

    .right_wrapper .part_1_5 .heading .text{ 
        width:30%;
    }

    .right_wrapper .part_1_5 .heading .line{ 
        width:70%;
    }

    .right_wrapper .part_2 .heading .text{ 
        width:55%;
    }

    .right_wrapper .part_2 .heading .line{ 
        width:45%;
    }

    .left .langues{
        height: 7%;
    }

    .left .comp{
        height: 23%;
    }

    .left .comp_inf .heading .text{ 
        width:87%
    }
    .left .comp_inf .heading .line{
        width:13%;
    } 

    .left .qualités .heading .text{ 
        width:75%
    }
    .left .qualités .heading .line{
        width:25%;
    } 

    .left .interet .heading .text{ 
        width:65%
    }
    .left .interet .heading .line{
        width:35%;
    } 
    
    .right .part_1{
        height:12%;
    }

}


@media (max-width:900px){
    html{
        font-size: 1.7vw;
    }
    body{
        font-size: 1.4vw;
        height: 150vh;
        width:98vw;
    }
    .main{
        width: 100%;
    }

    .cont_left{
        width:40%;
    }
    .cont_right{
        width:60%;
    
    }

    .right_wrapper .part_1 .heading .text{ 
        width:20%;
    }

    .right_wrapper .part_1 .heading .line{ 
        width:80%;
    }

    .right_wrapper .part_1_5 .heading .text{ 
        width:30%;
    }

    .right_wrapper .part_1_5 .heading .line{ 
        width:70%;
    }

    .right_wrapper .part_2 .heading .text{ 
        width:55%;
    }

    .right_wrapper .part_2 .heading .line{ 
        width:45%;
    }

    .left .langues{
        height: 7%;
    }

    .left .comp{
        height: 23%;
    }

    .left .comp_inf .heading .text{ 
        width:87%
    }
    .left .comp_inf .heading .line{
        width:13%;
    } 

    .left .qualités .heading .text{ 
        width:75%
    }
    .left .qualités .heading .line{
        width:25%;
    } 

    .left .interet .heading .text{ 
        width:65%
    }
    .left .interet .heading .line{
        width:35%;
    } 
    
    .right .part_1{
        height:12%;
    }

}

@media (max-width:768px){
    html{
        font-size: 1.7vw;
    }
    body{
        font-size: 1.6vw;
        height:120vh;
        width:100vw;
    }
}

@media(max-width:650px){
    html{
        font-size: 1.7vw;
    }
    body{
        font-size: 1.6vw;
        height: 125vh;
    }
    .left .comp{
        height: 30%;
    }

}

@media(max-width:414px){
    body{
        height:100vh;
        font-size: 1.8vw;
    }

    .left .comp_inf .heading .text{ 
        width:90%
    }
    .left .comp_inf .heading .line{
        width:10%;
    } 
}

@media(max-width:375px){
    body{
        height:120vh;
        font-size: 1.9vw;
    }

    .main{
        height:100%;
      
    }

    .left .comp{
        height: 26%;
    }

    .right .part_1{
        height:10%;
    }

    .left .comp_inf .heading .text{ 
        width:90%
    }
    .left .comp_inf .heading .line{
        width:10%;
    } 

    .right_wrapper .part_2 .heading .text{ 
        width:65%;
    }

    .right_wrapper .part_2 .heading .line{ 
        width:35%;
    }
}

@media(max-width:360px){
    body{
        height:150vh;
        font-size: 1.8vw;
    }

    .main{
        height:100%;
    }

    .left{
        width:40%;
    }
    .right .part_1{
        height:10%;
    }

    .right{
        width: 60%;
    }

    .left .comp{
        height: 22%;
    }

    .main{
        height:90%;
        margin-top:0;
        margin-bottom: 0;
    }

}


@media(max-width:340px){
    body{
        height:160vh;
        font-size: 2vw;
    }

    .main{
        height:100%;
    }

    .left{
        width:40%;
    }

    .right{
        width: 60%;
    }

    .right_wrapper .part_2 .heading .text{ 
        width:70%;
    }

    .right_wrapper .part_2 .heading .line{ 
        width:30%;
    }

}

@media(max-width:320px){
    body{
        height:140vh;
        font-size: 2vw;
    }

    .main{
        height:100%;
    }

    .left{
        width:40%;
    }

    .right{
        width: 60%;
    }

    .right_wrapper .part_2 .heading .text{ 
        width:70%;
    }

    .right_wrapper .part_2 .heading .line{ 
        width:30%;
    }

}
